@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$barbarian: #ec9b3b;
$archer: #ee5487;
$giant: #f6901a;
$goblin: #82bb30;
$wizard: #4facff;

.wrapper {
  margin: auto;
  width: 400px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

  &:focus {
    outline: 0;
  }
}

.clash_card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash_card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash_card__image__barbarian {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
  img {
    width: 400px;
    position: absolute;
    top: -65px;
    left: -70px;
  }
}
.clash_card__image__archer {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg");
  img {
    width: 400px;
    position: absolute;
    top: -34px;
    left: -37px;
  }
}
.clash_card__image__giant {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg");
  img {
    width: 340px;
    position: absolute;
    top: -30px;
    left: -25px;
  }
}
.clash_card__image__goblin {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg");
  img {
    width: 370px;
    position: absolute;
    top: -21px;
    left: -37px;
  }
}
.clash_card__image__wizard {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg");
  img {
    width: 345px;
    position: absolute;
    top: -28px;
    left: -10px;
  }
}

.clash_card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash_card__level__barbarian {
  color: $barbarian;
}
.clash_card__level__archer {
  color: $archer;
}
.clash_card__level__giant {
  color: $giant;
}
.clash_card__level__goblin {
  color: $goblin;
}
.clash_card__level__wizard {
  color: $wizard;
}

.clash_card__unit_name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash_card__unit_description {
  padding: 20px;
  margin-bottom: 10px;
}

.clash_card__unit_stats__barbarian {
  background: $barbarian;

  .one_third {
    border-right: 1px solid #bd7c2f;
  }
}

.clash_card__unit_stats__archer {
  background: $archer;

  .one_third {
    border-right: 1px solid #d04976;
  }
}

.clash_card__unit_stats__giant {
  background: $giant;

  .one_third {
    border-right: 1px solid darken($giant, 8%);
  }
}

.clash_card__unit_stats__goblin {
  background: $goblin;

  .one_third {
    border-right: 1px solid darken($goblin, 6%);
  }
}

.clash_card__unit_stats__wizard {
  background: $wizard;

  .one_third {
    border-right: 1px solid darken($wizard, 6%);
  }
}

.clash_card__unit_stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one_third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .stat_value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no_border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
