.listing {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  width: 100%;
}
.listing-photo {
  flex-basis: 10%;
  width: auto;
  height: 120px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
