/* Стиль для строк */
.row {
  margin-bottom: 20px; /* Отступ между строками */
}

/* Стиль для заголовков */
h2 {
  color: #ffcc00; /* Желтый цвет текста */
}

/* Стиль для абзацев */
p {
  font-size: 16px; /* Размер текста */
}
